@use '_normalize-reset' as *;

*,
*:before,
*:after {
  box-sizing: border-box;
  min-width: 0;
}

body {
  min-height: 100dvh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
