@use '#styles/default-global-theme/mixins/mixins' as *;

.custom {
  color: green;
  font-size: 3rem;
  @include lightText();
}

.nav__title {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  text-transform: uppercase;
  padding: var(--space-md);
  padding-left: var(--space-lg);
  margin-block-start: 0;
  &__logo {
    max-height: 40em;
  }
}

.container {
  max-width: var(--bkp-tablet-lg);
  width: 100dvw;
  margin: 0 auto;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.example_block {
  padding: var(--space-lg) var(--space-md);
}

.grid_example_block {
  padding: var(--space-lg) 0;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-lg);

  & > div {
    flex-grow: 1;
  }
}

.link_btn_container {
  margin-bottom: var(--space-md);
}
